{% extends 'Story6_base.html' %}
{% load static %}

{% block content %}
<div class= "container">
    <h2>Daftar Kegiatan</h2>
    {% for kegiatan in activities %}
        <h5>Nama Kegiatan:</h5>
        <h5>{{kegiatan.nama_kegiatan}}</h5>
        <div class = "container">
            <h5>Peserta:</h5>
            <form>
                {% csrf_token %}
                {% for peserta in kegiatan.peserta.all %}
                <h4>{{peserta.nama_peserta}}</h4>
                {% endfor %}
            </form>
            <form action="{% url 'webs6:s6tp' id=kegiatan.id %}" method = "POST">
                {% csrf_token %}
                {{formPeserta}}
                <input class="btn btn-primary ml-1" type="submit" value="Tambah Peserta"> 
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}