{% extends 'Story6_base.html' %}
{% load static %}

{% block content %}
<div>
    <form class="mt-5 d-flex justify-content-center align-items-center flex-column" action="{% url 'webs6:s6tk' %}" method="POST">
        <h3>Tambahkan kegiatan yang diinginkan</h3>
        {% csrf_token %}
        {{keg_form}}
        <input class="btn btn-secondary mt-2" type="submit" value="tambah kegiatan">
    </form>
</div>
{% endblock content %}